<ion-content>
  <ion-slides pager="true">
      <ion-slide class="step-one">
          <!-- <img src='../assets/image/sample0.jpg'> -->
          <ion-img src="/assets/image/sample0.jpg"></ion-img>
          <h1>Heading</h1>
          <p>Text</p>
      </ion-slide>
  
      <ion-slide class="step-two">
          <ion-img src="/assets/image/sample1.jpg"></ion-img>
          <h1>Heading</h1>
          <p>Text</p>
      </ion-slide>
  
      <ion-slide class="step-three">
          <ion-img src="/assets/image/sample2.jpg"></ion-img>
          <h1>Heading</h1>
          <p>Text</p>
          <ion-button expand="full" (click)="close()">
            Start
          </ion-button>
  
          <!-- <ion-button (click)="finish()">FINISH TUTORIAL!</ion-button> -->
      </ion-slide>
  </ion-slides>
  </ion-content>